<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
</head>
<body>
  <h2>List all users:</h2>
  <ul>
    <% @users.each do |user| %>
      <li><%= user.id %></li>
      <li><%= user.name %></li>
      <li><%= user.email %></li>
      <li><%= user.self_intro %></li>
      <li><%= user.created_at %></li>
      <li><%= user.updated_at %></li>
    <% end %>
  </ul>
</body>
</html>